:root {
  --background: #121214;
  --color: #202024;
  --white: #fff;
  --black: #000;
  --green: #55ee88;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 17px 'Roboto', sans-serif;
  color: var(--color);

  background: var(--background);
}

input {
  font: 17px 'Roboto', sans-serif;
  color: #9a9a9b;
}

button {
  cursor: pointer;
}

.alert {
  width: 100%;
  max-width: 750px;
  margin: 10px auto;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  color: var(--black);
  padding: 10px;
  border: 2px solid transparent;
  background: var(--color);
  border-radius: 5px;
} 

.success {
  border-color: #55ee88;
  background: var(--green);
  color: var(--white);
}

.danger {
  border-color: #c53030;
  background: #c53030;
  color: var(--white);
}

header.menu {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 90000;
  background: var(--background);
}

header.menu > div {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


header.menu a {
  color: var(--white);
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

header.menu div div.left {
  display: flex;
  height: 100%;
  align-items: center;
}

header.menu div div.left img {
  width: 36px;
  height: 36px;
}

header.menu div div.left img svg {
  color: #fff;
}

header.menu div div.left a.github {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
  opacity: 0.8;
}

header.menu div div.left a.github span {
  margin-left: 5px;
}

header.menu div div.left a.github:hover {
  opacity: 1;
}

header.menu div div {
  display: flex;
  height: 100%;
  align-items: center;
}

header.menu div div a.sign {
  color: var(--white);
  font-size: 17px;
  text-decoration: none;

  background: var(--green);
  padding: 10px 20px;
  border-radius: 20px;

  transition: all 0.2s;
}

header.menu div div a.sign:hover {
  opacity: 0.8;
}

header.menu div a.profile {
  margin-right: 10px;
}

header.menu div a.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--green);
}

@media(max-width: 500px) {
  header.menu div div.left a.github span {
    display: none;
  }
}